[Desktop Entry]
Version=1.0
Type=Application
Name=Zen Browser
Exec=zen-browser %U
Icon=zen-browser-bin
Categories=Network;WebBrowser;
StartupWMClass=zen
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;